<!DOCTYPE html>
<html>
<head>
	<title>www.education.com</title>
	<style>
		ul{
			list-style-type: row;
			flex-basis: auto; 
			overflow: hidden;
			border: 1px solid black;
			background-color: green;
		}
		li{
			float: right;
		}
		li a {
		  display: block;
		  color: brown;
		  font-size: 22px;
		  text-align: center;
		  padding: 18px 20px;
		  text-decoration: none;
		}
		li a:hover:not(.active) {
  			background-color: black;
		}
		li a.active{
			color: white;
			background-color: purple;
		}
		.runDiv{
			height: 200px;
			width: 30%;
			background-color: skyblue;
			border-radius: 40px 10px;
		}
		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			}

		.item {
			flex: 0 32%;
			height: 100px;
			margin-bottom: 2%; /* (100-32*3)/2 */
			}
input[type=text] {
  width: 130px;
  color: black;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: rebeccapurple;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


.flex-container2{
		/*align-items: center;
		display: flex; */
		height: 200px;
        width: 100%;
		display: flex;
		flex-wrap: row;
		/* background-color: pink;
		border: solid 2px green; */
	}
	.flex-container2 div{
		background-color: hsl(54, 65%, 70%);
		width: 270px;
		margin: 5px;
		padding: 20px;
		text-align: center;
		line-height: 10px;
		font-size: 18px;
		border-radius: 20px;
	}
input[type=text]:focus {
  width: 100%;
}
	</style>
</head>
<body bgcolor="#798020">
	<h1><center>Home </center></h1>

	<form action= "/search" method="POST"> 
        <div class="searchBox">
            <input class="searchInput" class="material-icons" type="text" name="search" , placeholder="Search....." >
            <inupt class="searchButton" type="submit">
        </div>
	</form>
	
	<ul>
		<li><a class="active" href="/home">Home</a></li>
		<li><a href="/user_login">Login</a></li>
	  	<li><a href="/user_signup">Signup</a></li>
	</ul>
	<div class="flex-containers">  Skyniche Clients</h1><br><br>
		<div class="flex-container2">
			<% for (let i of data) { %>
				<div>
					<h3> <%= i._id %> </h3>
					<h3> client_name <%= i.client_name %> </h3>
					<h3> email  : <%= i.email %> </h3>
				</div>
			<% } %>
		</div>
	</div>

</body>
</html>